 <div class="row justify-content-end">
    <div class="col-auto"><p id="nouns"><span class="badge rounded-pill bg-primary p-2">Nouns</span></p> </div>
    <div class="col-auto"><p id="adjectives"><span class="badge rounded-pill bg-success p-2">Adjectives</span></p></div>
    <div class="col-auto"><p id="verbs"><span class="badge rounded-pill bg-warning p-2">Verbs</span></p></div>
    <div class="col-auto"><p id="phrasal-verbs"><span class="badge rounded-pill bg-info p-2">Phrasal verbs</span></p></div>
    <div class="col-auto mr-5"><p id="no-type"><span class="badge rounded-pill bg-secondary p-2">No type</span></p></div>
  </div>

